<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../../../bower_components/vaadin-grid/src/vaadin-grid.html">
<link rel="import" href="../../../bower_components/vaadin-dialog/src/vaadin-dialog.html">

<link rel="import" href="../../components/search-bar.html">
<link rel="import" href="../../components/utils-mixin.html">

<link rel="import" href="../../../styles/shared-styles.html">

<dom-module id="company-view">
    <template>
        <vaadin-split-layout vertical>
            <div note> un div dentro un vertical-layout , puoi stilamri(più facilmente di quanto avresti potuto fare con il classico Vaadin 8) oppure dare il codice ad un professionista. (separazione delle competenze)
            </div>
            <div>
                Sono più leggibile, il mio HTLM è quello che scrivi, non quello che viene generato.Non devi impazzire per stilare 1000 div in cascata.
                Questo significa che non devi capire la struttura HTML generata
            </div>
            <div>
                inoltre è possibile costruire un'applicazione alla pari di quella di Business
                cosa difficilmente realizzabile con Vaadin 8, perché appunto è più difficile stilare o dare
                il codice ad una persona che conosce il CSS ad un certo livello.
            </div>
            <div>
                Se partiamo con vaadin 10 abbiamo partiamo con un passo avanti, e si sa che partire
                con un passo avanti nel mondo della tecnologia è fondamentale.
            </div>
            <div>
                Con vaadin 10 è facile usare i web componenti: facile estendibilità, leggerezza ADDIO GWT
            </div>

        </vaadin-split-layout>



    </template>
    <script>
        class CompanyView extends Polymer.Element {
            static get is() {
                return 'company-view';
            }

            static get properties() {
                return {
                    item: {
                        type: Object
                    }
                };
            }
        }

        window.customElements.define(CompanyView.is, CompanyView);
    </script>

</dom-module>
