<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../styles/shared-styles.html">
<link rel="import" href="order-status-badge.html">

<dom-module id="order-card">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      .content {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      .wrapper {
        background: var(--lumo-base-color);
        background-image: linear-gradient(var(--lumo-tint-5pct), var(--lumo-tint-5pct));
        box-shadow: 0 3px 5px var(--lumo-shade-10pct);
        border-bottom: 1px solid var(--lumo-shade-10pct);
        display: flex;
        padding: var(--lumo-space-l);
        cursor: pointer;
        border-radius: var(--lumo-border-radius);
      }

      .main {
        color: var(--lumo-body-text-color);
        margin-right: var(--lumo-space-s);
        font-weight: bold;
      }

      .group-heading {
        margin: var(--lumo-space-l) var(--lumo-space-s) var(--lumo-space-m);
      }

      .secondary {
        color: var(--lumo-secondary-text-color);
      }

      #infoWrapper {
        flex-direction: column-reverse;
        justify-content: flex-end;
      }

      order-status-badge {
        margin: var(--lumo-space-s) 0;
        width: 100px;
      }

      #timePlace {
        width: 120px;
      }

      #nameItems {
        flex: 1;
      }

      #place,
      #secondaryTime,
      #fullDay,
      #goods {
        color: var(--lumo-secondary-text-color);
      }

      h3 {
        margin: 0;
      }

      #goods {
        display: flex;
        flex-wrap: wrap;
      }

      #goods > div {
        box-sizing: border-box;
        width: 18em;
        flex: auto;
        padding-right: var(--lumo-space-l);
      }

      .goods-item {
        display: flex;
        align-items: baseline;
        font-size: var(--lumo-font-size-s);
        margin: var(--lumo-space-xs) 0;
      }

      .goods-item > .count {
        margin-right: var(--lumo-space-s);
      }

      .goods-item > div {
        flex: auto;
      }

      @media (min-width: 600px) {
        #infoWrapper {
          flex-direction: row;
        }

        order-status-badge {
          margin: 0;
        }
      }

      :host(.storefront-order-card) .content {
        max-width: 964px;
      }
    </style>

    <div class="content">
      <div class="group-heading" hidden$="[[!displayHeader]]">
        <span class="main">[[header.main]]</span>
        <span class="secondary">[[header.secondary]]</span>
      </div>

      <div class="wrapper">
        <div id="infoWrapper" class="flex">
          <order-status-badge status="[[item.state]]"></order-status-badge>
          <div id="timePlace"></div>
        </div>
        <div id="nameItems">
          <h3 id="name">[[item.customer.fullName]]</h3>
          <div id="goods">
            <template is="dom-repeat" items="[[item.items]]">
              <div class="goods-item">
                <span class="count">[[item.quantity]]</span>
                <div>[[item.product.name]]</div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
    class OrderCard extends Polymer.Element {
      static get is() {
        return 'order-card';
      }

      static get properties() {
        return {
          item: {
            type: Object
          }
        };
      }
    }

    window.customElements.define(OrderCard.is, OrderCard);
  </script>
</dom-module>
