<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../../../bower_components/vaadin-text-field/src/vaadin-text-field.html">
<link rel="import" href="../../../bower_components/vaadin-button/src/vaadin-button.html">
<link rel="import" href="../../../bower_components/vaadin-form-layout/src/vaadin-form-layout.html">
<link rel="import" href="../../../bower_components/vaadin-combo-box/src/vaadin-combo-box.html">

<link rel="import" href="../../components/amount-field.html">

<link rel="import" href="../../../styles/shared-styles.html">

<dom-module id="order-item-editor">
  <template>
    <style include="shared-styles">
      .product {
        margin-bottom: 1em;
      }

      .delete {
        min-width: 0;
      }

      .money {
        text-align: right;
        line-height: 2.5em;
      }

      /* Workaround for vertically distorted elements inside a flex container in IE11 */
      .self-start {
        align-self: flex-start;
      }
    </style>

    <iron-media-query query="(min-width: 600px)" query-matches="{{desktopView}}"></iron-media-query>

    <vaadin-form-layout id="form1" class="product">

      <vaadin-combo-box id="products" colspan="8" index="[[index]]"></vaadin-combo-box>

      <vaadin-button id="delete" colspan="2" class="delete self-start" index="[[index]]"
                     style$="order: [[_getConditional(desktopView, 2, 0)]];">✕
      </vaadin-button>

      <amount-field class="self-start" id="amount" colspan="4" min="1" max="15" index="[[index]]" style="order: 1"></amount-field>

      <div id="price" colspan="4" class="money" style="order: 1">[[price]]</div>

      <vaadin-text-field id="comment" colspan$="[[_getConditional(desktopView, 12, 8)]]" placeholder="Details"
                         index="[[index]]" style="order: 3"></vaadin-text-field>
    </vaadin-form-layout>
  </template>

  <script>
    class OrderItemEditor extends Polymer.Element {

      static get is() {
        return 'order-item-editor';
      }

      static get properties() {
        return {
          desktopView: {
            type: Boolean
          }
        };
      }

      ready() {
        super.ready();

        this.$.form1.responsiveSteps = [
          {columns: 10, labelsPosition: 'top'},
          {minWidth: '600px', columns: 18, labelsPosition: 'top'}
        ];
      }

      _getConditional(desktopView, desktopColspan, mobileColspan) {
        return desktopView ? desktopColspan : mobileColspan;
      }

    }

    window.customElements.define(OrderItemEditor.is, OrderItemEditor);
  </script>
</dom-module>
