<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../../../bower_components/vaadin-grid/src/vaadin-grid.html">
<link rel="import" href="../../../bower_components/vaadin-dialog/src/vaadin-dialog.html">

<link rel="import" href="../../components/search-bar.html">
<link rel="import" href="../../components/utils-mixin.html">

<link rel="import" href="../../../styles/shared-styles.html">

<dom-module id="storefront-view">
  <template>
    <style include="shared-styles">
      :host {
        display: flex;
        flex-direction: column;
        max-width: calc(964px + var(--lumo-space-m)) !important; /* Allow selected order to be 16px wider */
      }

      @media (min-width: 600px) {
        :host {
          max-width: none !important;
          padding: 0 !important;
        }
      }
    </style>

    <iron-media-query query="(min-width: 600px)" query-matches="{{desktopView}}"></iron-media-query>

    <search-bar id="search" show-checkbox></search-bar>

    <vaadin-grid id="grid" theme="orders no-row-borders"></vaadin-grid>

    <vaadin-dialog id="dialog"></vaadin-dialog>

  </template>

  <script>
    class StorefrontView extends window.HasNotificationsMixin(Polymer.Element) {
      static get is() {
        return 'storefront-view';
      }

      ready() {
        super.ready();

        // There is no way for theming the dialog-overlay but using private API
        this.$.dialog.$.overlay.setAttribute('theme', 'middle');

        // This method is overriden to measure the page load performance and can be safely removed
        // if there is no need for that.
        const grid = this.$.grid;
        const listener = () => {
          if (!grid.loading && window.performance.mark) {
            window.performance.mark('bakery-page-loaded');
            grid.removeEventListener('loading-changed', listener);
          }
        };
        grid.addEventListener('loading-changed', listener);
      }

      static get properties() {
        return {
          desktopView: {
            type: Boolean,
            notify: true
          }
        };
      }
    }

    window.customElements.define(StorefrontView.is, StorefrontView);
  </script>
</dom-module>
