<!-- Remember to import custom-style, which is included in the Polymer package -->
<link rel="import" href="../bower_components/polymer/lib/elements/custom-style.html">
<custom-style>
    <style>

        vaadin-button {

            --lumo-primary-color: hsl(3, 100%, 61%);

        }


</style>
</custom-style>
