<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<!-- Themes for dialogs -->
<dom-module id="bakery-dialog-overlay-theme" theme-for="vaadin-dialog-overlay">
  <template>

    <style>
      :host {
        padding: var(--lumo-space-xs);
      }

      [part="overlay"] {
        overflow: hidden;
        max-width: 65em;
        display: flex;
        animation: none !important;
      }

      [part="content"] {
        width: 100%;
        box-sizing: border-box;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 10px;
      }

      :host([theme="left"]) {
        align-items: flex-start;
      }

      :host([theme$="right"]) {
        align-items: flex-end;
      }

      :host([theme="left"]) [part="overlay"],
      :host([theme="right"]) [part="overlay"] {
        flex: 1;
        max-width: 45em;
      }

      :host([theme="top-right"]) [part="overlay"] {
        position: absolute;
        top: var(--lumo-space-xs);
      }

      @media (max-width: 600px) {
        :host([theme]) {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 0;
        }

        :host([theme]) [part="overlay"] {
          flex: 1;
          width: 100%;
          border-radius: 0 !important;
        }
      }

      flow-component-renderer,
      flow-component-renderer > div,
      flow-component-renderer > div > * {
        display: flex;
        flex-direction: column;
        flex: auto;
      }
    </style>
  </template>
</dom-module>

<!-- Theme for the status selector, we need to theme the text-field instead of the combo-box -->
<dom-module id="bakery-text-field-theme" theme-for="vaadin-text-field">
  <template>
    <style>
      :host([status="new"]) [part~="input-field"],
      :host([status="confirmed"]) [part~="input-field"] {
        color: var(--lumo-primary-color);
        background: var(--lumo-primary-color-10pct);
      }

      :host([status="ready"]) [part~="input-field"],
      :host([status="delivered"]) [part~="input-field"] {
        color: var(--lumo-success-color);
        background: var(--lumo-success-color-10pct);
      }

      :host([status="problem"]) [part~="input-field"],
      :host([status="cancelled"]) [part~="input-field"] {
        color: var(--lumo-error-color);
        background: var(--lumo-error-color-10pct);
      }

      :host([theme~="center"]) [part="value"] {
        text-align: center;
      }

      :host([theme~="center"]) .vaadin-text-field-container {
        width: auto;
      }

    </style>
  </template>
</dom-module>

<!-- Theme for icons inside text-field and buttons, 'vaadin:' icons have custom rules 
  in lumo theme that make icons look wrong, by overriding width and height but not 
  padding the look ok -->
<dom-module id="bakery-text-buttons-theme-icons" theme-for="vaadin-text-field vaadin-button">
  <template>
    <style>
      [part="input-field"] ::slotted(iron-icon[icon^="vaadin:"]) ,
      :host ::slotted(iron-icon[icon^="vaadin:"]) {
        padding: 0 !important;
      }
    </style>
  </template>
</dom-module>

<!-- Theme for the vaadin-grid -->
<dom-module id="bakery-grid-theme" theme-for="vaadin-grid">
  <template>
    <style>
      :host {
         width: 100%;
         flex: auto;
      }

      [part~="row"]:last-child [part~="header-cell"],
      [part~="header-cell"]:not(:empty):not([details-cell]) {
        padding-top: var(--lumo-space-l);
        padding-bottom: var(--lumo-space-m);

        font-size: var(--lumo-font-size-s);
        border-bottom: 1px solid var(--lumo-shade-5pct);
      }

      :host(:not([theme~="no-row-borders"])) [part~="cell"]:not([part~="details-cell"]) {
        border-top: 1px solid var(--lumo-shade-5pct);
      }

      /* a special grid theme for the bakery storefront view */
      :host([theme~="orders"]) {
        background: transparent;
      }

      :host([theme~="orders"]) [part~="cell"]:not(:empty):not([details-cell]) {
        padding: 0;
      }

      :host([theme~="orders"]) [part~="row"][selected] [part~="cell"] {
        background: transparent !important;
      }

      :host([theme~="orders"]) [part~="body-cell"] {
        background: transparent;
      }

      :host([theme~="dashboard"]) [part~="cell"] ::slotted(vaadin-grid-cell-content) {
        padding: 0;
      }

      :host([theme~="crud"]) {
        max-width: calc(964px + var(--lumo-space-m));
        background-color: var(--lumo-base-color);
      }

      #scroller {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform: translateY(0);
      }
    </style>
  </template>
</dom-module>

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>


    <style>
      *,
      *::before,
      *::after,
      ::slotted(*) {
        box-sizing: border-box;
      }

      :host([hidden]),
      [hidden] {
        display: none !important;
      }

      h2,
      h3 {
        margin-top: var(--lumo-space-m);
        margin-bottom: var(--lumo-space-s);
      }

      h2 {
        font-size: var(--lumo-font-size-xxl);
      }

      h3 {
        font-size: var(--lumo-font-size-xl);
      }

      .scrollable {
        padding: var(--lumo-space-m);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }

      .count {
        display: inline-block;
        background: var(--lumo-shade-10pct);
        border-radius: var(--lumo-border-radius);
        font-size: var(--lumo-font-size-s);
        padding: 0 var(--lumo-space-s);
        text-align: center;
      }

      .total {
        padding: 0 var(--lumo-space-s);
        font-size: var(--lumo-font-size-l);
        font-weight: bold;
        white-space: nowrap;
      }

      @media (min-width: 600px) {
        .total {
          min-width: 0;
          order: 0;
          padding: 0 var(--lumo-space-l);
        }
      }

      @media (max-width: 600px) {
        search-bar {
          order: 1;
        }
      }

      .flex {
        display: flex;
      }

      .flex1 {
        flex: 1 1 auto;
      }

      .bold {
        font-weight: 600;
      }

      :host {
          --lumo-primary-color: hsl(23, 98%, 63%);
          --lumo-primary-text-color : hsl(23, 98%, 63%) ;
          --lumo-font-family: "Lato", sans-serif;

      }


    </style>
  </template>
</dom-module>
