<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/src/vaadin-grid.html">
<link rel="import" href="../../../../bower_components/vaadin-dialog/src/vaadin-dialog.html">

<link rel="import" href="../../../components/search-bar.html">
<link rel="import" href="../../../components/utils-mixin.html">

<link rel="import" href="../../../../styles/shared-styles.html">

<dom-module id="products-view">
  <template>
    <style include="shared-styles">
      :host {
        max-width: none !important;
        display: flex;
        flex-direction: column;
      }
    </style>

   <search-bar id="search"></search-bar>

   <vaadin-grid id="grid" theme="crud"></vaadin-grid>

   <vaadin-dialog id="dialog"></vaadin-dialog>

  </template>

  <script>
    class ProductsView extends window.HasNotificationsMixin(Polymer.Element) {
      static get is() {
        return 'products-view';
      }

      ready() {
        super.ready();
        // There is no way for theming the dialog-overlay but using private API
        this.$.dialog.$.overlay.setAttribute('theme', 'right');
      }
    }

    window.customElements.define(ProductsView.is, ProductsView);
  </script>
</dom-module>
