<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/vaadin-form-layout/src/vaadin-form-layout.html">
<link rel="import" href="../../../../bower_components/vaadin-text-field/src/vaadin-text-field.html">
<link rel="import" href="../../../components/form-buttons-bar.html">

<dom-module id="product-form">
  <template>

    <style include="shared-styles">
       vaadin-form-layout {
         flex: auto;
         overflow-y: auto;
         overflow-x: hidden;
         padding: 5px;
       }
    </style>

    <vaadin-form-layout>
      <h3 id="title"></h3>
      <vaadin-text-field id="name" label="Product name" colspan="2"></vaadin-text-field>
      <vaadin-text-field id="price" label="Unit price" colspan="2"></vaadin-text-field>
    </vaadin-form-layout>

    <form-buttons-bar id="buttons"></form-buttons-bar>
  </template>

  <script>
    class ProductForm extends Polymer.Element {
      static get is() {
        return 'product-form';
      }
    }

    window.customElements.define(ProductForm.is, ProductForm);
  </script>
</dom-module>
