<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-text-field/src/vaadin-text-field.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/vaadin-icons/vaadin-icons.html">

<dom-module id="amount-field">
  <template>
    <style>
      :host {
        display: block;
      }

      iron-icon {
        cursor: pointer;
        text-align: center;
      }

      iron-icon[disabled] {
        cursor: default;
        opacity: 0.1;
      }

      vaadin-text-field {
        --vaadin-text-field-default-width: 6em;
        flex: auto;
        display: flex;
      }
    </style>

    <vaadin-text-field id="amount-field-amount" label="[[label]]" theme="center" pattern="\d*" part="text-field" prevent-invalid-input value=[[value]] readonly="true">
      <iron-icon slot="prefix" id="minus" icon="vaadin:minus" on-click="minus" disabled$="[[!minusEnabled]]"></iron-icon>
      <iron-icon slot="suffix" id="plus" icon="vaadin:plus" on-click="plus" disabled$="[[!plusEnabled]]"></iron-icon>
    </vaadin-text-field>
  </template>

  <script>
    class AmountField extends Polymer.Element {
      static get is() {
        return 'amount-field';
      }

      static get properties() {
        return {
          value: {
            type: Number,
            value: 1,
            notify: true
          },
          min: {
            type: Number,
            value: 0
          },
          disabled: {
            type: Boolean,
            value: false,
            notify: true,
            reflectToAttribute: true
          },
          readOnly: {
            type: Boolean,
            value: false,
            notify: true,
            reflectToAttribute: true
          },
          max: {
            type: Number,
            value: Number.MAX_SAFE_INTEGER || (Math.pow(2, 53) - 1) /* MSIE fallback */
          },
          plusEnabled: {type: Boolean},
          minusEnabled: {type: Boolean},
          label: String
        };
      }
    }

    window.customElements.define(AmountField.is, AmountField);
  </script>
</dom-module>
