<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-tabs/src/vaadin-tabs.html">
<link rel="import" href="../../bower_components/vaadin-tabs/src/vaadin-tab.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/vaadin-icons/vaadin-icons.html">

<link rel="import" href="../../styles/shared-styles.html">

<dom-module id="app-navigation">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        box-shadow: 0 0 16px 2px var(--lumo-shade-20pct);
        z-index: 200;
      }

      .toolbar {
        display: flex;
        justify-content: space-between;
        background-color: var(--lumo-base-color);
        height: 64px;
        align-items: center;
      }

      .branding {
        font-size: var(--lumo-font-size-m);
        line-height: normal;
        display: none;
      }

      vaadin-tab > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--lumo-secondary-text-color);
        text-decoration: none;
        font-size: var(--lumo-font-size-s);
      }

      vaadin-tabs {
         max-width: 100vw;
      }

      vaadin-tab {
         max-width: calc(100vw / 5);
         outline: none;
      }

      .navigation-tabs a {
        text-decoration: none;
      }

      iron-icon {
        margin-bottom: var(--lumo-space-xs);
      }

      vaadin-tab[selected] iron-icon {
        color: var(--lumo-primary-color);
      }

      vaadin-tab[selected] span {
        color: var(--lumo-body-text-color);
      }

      .tabsContainer {
        display: flex;
        flex: 1;
        justify-content: center;
        height: 100%;

        /* 964px is the width of the storefront grid */
        max-width: 964px;
        margin-right: auto;
      }

      @media (min-width: 600px) {
        .toolbar {
          padding: 0 var(--lumo-space-m);
        }

        .navigation-label {
          padding: 0 var(--lumo-space-xs);
        }

        .branding {
          display: block;
        }

        vaadin-tab::before,
        vaadin-tab::after {
          width: 100% !important;
          top: 0;
          bottom: auto;
          content: ' ';
        }
      }

      @media (min-width: 740px) {
        .navigation-label {
          padding: 0 var(--lumo-space-m);
        }
      }

      @media (min-width: 981px) {
        .branding {
          flex: 1;

          /* 964px is the width of the storefront grid */
          max-width: calc((100% - 964px - var(--lumo-space-m)) / 2);
        }

        .navigation-label {
          padding: 0 var(--lumo-space-l);
        }
      }
    </style>

    <div class="toolbar">
      <div class="branding">
        backoffice
      </div>
      <div class="tabsContainer">
        <vaadin-tabs id="tabs"></vaadin-tabs>
      </div>
    </div>
  </template>

  <script>
    class AppNavigation extends Polymer.Element {
      static get is() {
        return 'app-navigation';
      }
    }

    window.customElements.define(AppNavigation.is, AppNavigation);
  </script>
</dom-module>
