<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-button/src/vaadin-button.html">
<link rel="import" href="../../bower_components/vaadin-dialog/src/vaadin-dialog.html">

<dom-module id="confirm-dialog">
  <template>
    <vaadin-dialog id="dialog" opened="{{opened}}">
      <template>
        <style>
          #caption {
            font-size: 14px;
            text-align: center;
            color: var(--lumo-body-text-color);
          }

          #message {
            padding: 0 16px;
            color: grey;
          }

          #buttons {
            margin-top: 30px;
            display: flex;
            box-shadow: 0 -3px 3px -3px var(--lumo-shade-20pct);
          }
        </style>

        <p id="caption">[[caption]]</p>
        <p id="message">[[message]]</p>
        <div id="buttons">
          <vaadin-button on-click="_ok" theme="raised tertiary error">[[okText]]</vaadin-button>
          <div style="flex: 1"></div>
          <vaadin-button on-click="_cancel" theme="raised tertiary" class="right">[[cancelText]]</vaadin-button>
        </div>
      </template>
    </vaadin-dialog>
  </template>

  <script>
    {
      class ConfirmationDialogElement extends (class extends Polymer.Element {}) {
        static get is() {
          return 'confirm-dialog';
        }

        static get properties() {
          return {
            caption: {
              value: 'Confirmation needed'
            },
            message: {
              value: 'Do you want to continue?'
            },
            okText: {
              value: 'OK'
            },
            cancelText: {
              value: 'Cancel'
            },
            callback: Function,
            opened: {
              type: Boolean,
              notify: true
            }
          };
        }

        ready() {
          super.ready();

          // We need to unify opened-changed and cancel-event in one, because removing from UI in
          // server side, implies events after removal not being executed, and opened-changes is always
          // fired before cancel-click
          this.$.dialog.$.overlay.addEventListener('vaadin-overlay-outside-click', () => this._cancel());
          this.$.dialog.$.overlay.addEventListener('vaadin-overlay-escape-press', () => this._cancel());
        }

        /** @event cancel-click */
        _cancel() {
          delete this.callback;
          this.dispatchEvent(new CustomEvent('cancel-click'));
          this.opened = false;
        }

        /** @event ok-click */
        _ok() {
          if (this.callback) {
            this.callback();
            delete this.callback;
          }
          this.dispatchEvent(new CustomEvent('ok-click'));
          this.opened = false;
        }
      }

      window.customElements.define(ConfirmationDialogElement.is, ConfirmationDialogElement);
    }
  </script>
</dom-module>
