<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">

<dom-module id="form-dialog-overlay-theme" theme-for="vaadin-dialog-overlay">
  <template>
    <style>
      :host {
        padding: var(--lumo-space-xs);
      }

      [part="overlay"] {
        overflow: hidden;
        max-width: 65em;
        display: flex;
      }

      [part="content"] {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 10px;
        max-width: 100%;
        box-sizing: border-box;
      }

      :host([theme="left"]) {
        align-items: flex-start;
      }

      :host([theme$="right"]) {
        align-items: flex-end;
      }

      :host([theme="middle"]) [part="overlay"] {
        max-width: 60em;
      }

      :host([theme="left"]) [part="overlay"],
      :host([theme="right"]) [part="overlay"] {
        flex: 1;
        max-width: 45em;
      }

      :host([theme="top-right"]) [part="overlay"] {
        position: absolute;
        top: var(--lumo-space-xs);
      }

      @media (max-width: 600px) {
        :host {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 0;
        }

        [part="overlay"] {
          flex: 1;
          width: 100%;
          border-radius: 0 !important;
          animation: none;
        }
      }
    </style>
  </template>

</dom-module>

<dom-module id="form-dialog">
  <script>
    {
      class StarterDialog extends Vaadin.VaadinDialog {
        static get is() {
          return 'form-dialog';
        }

        static get properties() {
          return {
            theme: {
              type: String,
              observer: '_themeChanged'
            }
          };
        }

        ready() {
          super.ready();

          this._observer = new Polymer.FlattenedNodesObserver(this, info => {
            if (info.addedNodes.length) {
              const elements = info.addedNodes.filter(e => e.localName != 'template');
              if (elements.length) {
                // Insert ligth-dom content in the overlay
                this.$.overlay.$.content.innerHTML = '';
                elements.forEach(e => this.$.overlay.$.content.appendChild(e));
              } else {
                // It's a template, reset instance and let super templatize it
                delete this._instance;
              }
            }
          });
        }

        _themeChanged(position) {
          this.$.overlay.setAttribute('theme', position);
        }

        _onOverlayOpened(e) {
          super._onOverlayOpened(e);
          // Needed until https://github.com/vaadin/vaadin-overlay/issues/49 fix is in flow
          !e.detail.value && setTimeout(() => document.body.style.pointerEvents = '');
        }
      }

      window.customElements.define(StarterDialog.is, StarterDialog);
    }
  </script>
</dom-module>
